

/* :root {
    --Image-background: url("/src/Images/pexels-jess-loiterton-5232457.jpg");
    --ImagE-background: url("/src/Images/pexels-oliver-sjöström-1433052.jpg");
    --lightImage-background: "/src/Images/pexels-jess-loiterton-5232457.jpg";

}


.mainContainer{
    background-image: var(--Image-background);
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/1586795/pexels-photo-1586795.jpeg"); 
} */